<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8">
      <%= simple_form_for @pet do |f| %>
        <%= f.input :name, label: "Please add you pet name", hint: "Jack, Baily, Max" %>
        <%= f.input :gender, label: "Please add you dog gender", collection: Pet::GENDER %>
        <%= f.input :age, label: "Please add you pet age", input_html: { type: 'number' } %>
        <%= f.input :breed, label: "Please add you pet breed", hint: "Husky, Pomerania, Buldog" %>
        <%= f.input :description, label: "Please add any aditional information", hint: "my dog is allergic to peanuts", input_html: { maxlength: 120 }%>
        <%= f.input :photo, as: :file %>
        <%= f.input :personality_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
        <%= f.input :preference_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
