
<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @pets.each do |pet| %>
      <div class="swiper-slide" ><!--  id="pet_<%= pet.id %>" -->
        <p><%= pet.name %></p>
        <%= image_tag 'logo.png', width: 300 %>
        <p><%= link_to "show", pet_path(pet)%></p>
        <p><%= link_to "edit", edit_pet_path(pet), id:"edit"  %></p>
        <% if current_user.requested_friends.include?(pet.user) %>
          <p><%= link_to "add", accept_path(pet.user)  %></p>
          <p><%= link_to "reject", reject_path(pet.user)  %></p>
        <% else %>
          <p><%= link_to "request", request_path(pet.user), id:"request"  %></p>
        <% end %>
      </div>
    <% end %>
  </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<script>
  var mySwiper = new Swiper('.swiper-container', {
    init: false,
    speed: 700,
    loop: true,
    spaceBetween: 100,
    autoHeight: true, //enable auto height
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init: function () {
        console.log('swiper initialized');
      },
      slideChange: () => {
        if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          console.log('swipe to the left');
          console.log('test: reject_path(pet.user)');
          const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`);
          console.log(s);
          // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`).
          // s.style.display = "none";
        } else {
          console.log('swipe to the right');
          console.log('test: accept_path(pet.user)');
          // document.getElementById('edit').click();
        }
        console.log('active index', mySwiper.activeIndex);
        console.log('prev index', mySwiper.previousIndex);
      }
    },
  });

  mySwiper.init();
  // var mySwiper2 = document.querySelector('.swiper-container').swiper


</script>
