<p>index</p>
<%@pets.each do |pet|%>
  <%= pet.name %>
  <%= pet.gender %>
  <%= pet.age %>
  <%= pet.breed %>
  <%= link_to "show", pet_path(pet)%>
  <%= link_to "edit", edit_pet_path(pet)  %>
<% end %>
<%= link_to "create", new_pet_path %>
