<div class="cards-category-index">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <%@pets.each do |pet| %>
      <%# byebug %>
      <div class="swiper-slide" data-hash=<%= pet.user.id %> >
        <div class="col-12 col-xs-12 col-sm-4 offset-sm-4">
        <div class="card-product">
          <div class="first-half">
          <div class="card-product-picture-info ">
            <div class="card-product-picture w-100 d-flex justify-content-center ">
              <%= cl_image_tag(pet.photo.key, class: "picture-dog", width: 300, height: 300, crop: :fill) %>
              <div class="card-product-value">
                <p><%= current_user.pet.compatibilty(pet) %>%</p>
              </div>
            </div>
          </div>
          </div>
          <div class="second-half">
            <div class="card-product-description">
              <div class="card-product-title">
                <p>Name:</p>
                <p>   <%= pet.name %>  </p>
              </div>
              <div class="card-product-title ">
                <p>Breed:</p>
                <p><%= pet.breed %>  </p>
              </div>
              <div class="card-product-title">
                <p>Age:</p>
                <p>  <%= pet.age %></p>
              </div>
            </div>
            <div class="card-product-type">
              <div class="card-product-personality">
                <p>Personality:</p>
                <p><%= pet.personality_list %></p>
              </div>
              <div class="card-product-personality">
                <p>Preferences:</p>
                <p><%= pet.preference_list %></p>
              </div>
            </div>
            <div class="card-product-div">
              <div class="card-product-des">
                <p>Description:</p>
                <p> <%= pet.description %>  </p>
              </div>
            </div>
          </div>
          <%= link_to "show", pet_path(pet)%>
          <%#= link_to "edit", edit_pet_path(pet)  %>
          <div class="btn-container">
            <%# byebug %>
            <%= pet.user.id %>
            <%= current_user.id %>
            <%#= link_to "reject", { controller: "users", action: "friend_reject", id: pet.user.id }, remote: true, class: "btn btn-primary reject-btn", id: "reject-link"%>
            <%= link_to "reject", reject_url(pet.user), remote:true, id: "reject-link" %>
            <div class="heart">
              <%= link_to "add", accept_path(pet.user), remote: true, id: "accept-link" %>
            </div>
          </div>
        </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
<script>
  jQuery(function($) {
  $('#swapHeart').on('click', function() {
    var $el = $(this),
      textNode = this.lastChild;
    $el.find('span').toggleClass('glyphicon-heart glyphicon-heart-empty');
    $el.toggleClass('swap');
  });
});
  // function reject() {
  //   document.getElementById('reject-link').click();
  //   // const selected2 = document.querySelector(".swiper-slide-active");
  // }

  // var mySwiper = new Swiper('.swiper-container', {
  //   init: false,
  //   speed: 700,
  //   loop: false,
  //   spaceBetween: 100,
  //   autoHeight: true, //enable auto height
  //   pagination: {
  //     el: '.swiper-pagination',
  //     clickable: true,
  //   },
  //   navigation: {
  //     nextEl: '.swiper-button-next',
  //     prevEl: '.swiper-button-prev',
  //   }
  // });

  // mySwiper.on('init', () => {

  // });


  // var swiper = new Swiper('.swiper-container', {
  //       slidesPerView: 1,
  //       spaceBetween: 30,
  //       loop: false,
  //       pagination: {
  //         el: '.swiper-pagination',
  //         clickable: true,
  //       },
  //       navigation: {
  //         nextEl: '.swiper-button-next',
  //         prevEl: '.swiper-button-prev',
  //       },
  //     });


  // var swiper = new Swiper('.swiper-container', {
  //     init: false,
  //     speed: 700,
  //     loop: true,
  //     spaceBetween: 100,
  //     autoHeight: true, //enable auto height
  //     pagination: {
  //       el: '.swiper-pagination',
  //       clickable: true,
  //     },
  //     navigation: {
  //       nextEl: '.swiper-button-next',
  //       prevEl: '.swiper-button-prev',
  //     }
  //   });

  // swiper.init();

  // swiper.on('slideChange', () => {
  //   console.log('slide changed');
  //   // console.log('this',this)
  //   var rejectID = document.querySelector(".swiper-slide-active").dataset.id;
  //   console.log('reject', reject)
  //   document.getElementById('reject-link').click();
  // });
  // mySwiper.init();
  // mySwiper.on('slideChange', () => {
  //   document.getElementById('reject-link').click();
  // })
  // var mySwiper2 = document.querySelector('.swiper-container').swiper



  // const reject = document.getElementById('reject-link').addEventListener('click', mySwiper.slideChange);
  var mySwiper = new Swiper('.swiper-container', {
      // hashNavigation: true,
      init: true,
      speed: 700,
      loop: false,
      spaceBetween: 100,
      autoHeight: true, //enable auto height
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        init () {
          console.log('swiper initialized');
          console.log('activeIndex init', this.activeIndex)
        },
        slideChange () {
          const selected = document.querySelector(".swiper-slide-active");
          // console.log('hash2', parseInt(selected.dataset.hash));
          console.log('activeIndex active', this.activeIndex)


          // document.querySelector('.prepend-2-slides').addEventListener('click', function (e) {
          //       e.preventDefault();
          //       swiper.virtual.prependSlide([
          //         '<div class="swiper-slide">Slide ' + (--prependNumber) + '</div>',
          //         '<div class="swiper-slide">Slide ' + (--prependNumber) + '</div>'
          //         ]);
          //         'Slide ' + (--prependNumber),
          //         'Slide ' + (--prependNumber)
          //       ]);
          //     });
          // document.getElementById('reject-link').click();
          // const dogCard = document.querySelector(`[data-hash="${selected.dataset.hash}"]`);
          // console.log('dogCard', dogCard)
          // dogCard.querySelector('#reject-link').click();
          // document.getElementById('reject').click();
          // const selected = document.querySelector(".swiper-slide-active");
          // // console.log(selected.dataset.id);
          // selected_slide = selected.dataset.id;
          // if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          //   console.log('1. swipe to the left');
          //   console.log('2. test: reject_path(pet.user)');
          //   // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`);
          //   console.log('3. same behaviour as clicking reject button');
          //   // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`).
          //   // s.style.display = "none";
          // } else {
          //   console.log('4. swipe to the right');
          //   console.log('5. test: accept_path(pet.user)');
          //   // document.getElementById('edit').click();
          //   console.log('6. same behaviour as clicking add button');
          //   // mySwiper.removeSlide(mySwiper.activeIndex);
          // }
            // console.log('active index', mySwiper.activeIndex);
          // if (mySwiper.activeIndex === mySwiper.previousIndex) {
          //   console.log('this is the last card');
          // } else if ( mySwiper.previousIndex > mySwiper.activeIndex ) {
          //   console.log('4. swipe to the right');
          //   console.log('5. test: accept_path(pet.user)');
          //   console.log('active index', mySwiper.activeIndex);
          // } else {
          //   console.log('1. swipe to the left');
          //   console.log('2. test: reject_path(pet.user)');
          // }
          // if (mySwiper.activeIndex === 0) {
          //   console.log('cannot swipe to right');
          //   console.log(mySwiper.activeIndex);
          // } else if (mySwiper.activeIndex > mySwiper.previousIndex) {
          //   console.log('reject');
          // } else {
          //   console.log('accept');
          // }
          // console.log('active index', mySwiper.activeIndex);
          // console.log('prev index', mySwiper.previousIndex);
          // mySwiper.removeSlide(mySwiper.activeIndex);
          // mySwiper.removeSlide(mySwiper.activeIndex);
        },
        slidePrevTransitionEnd () {
          console.log('transistion accept end') // accept request
          const selected = document.querySelector(".swiper-slide-active");
          const dogCard = document.querySelector(`[data-hash="${selected.dataset.hash}"]`);

          console.log('dogCard accept', dogCard)
          dogCard.querySelector('#accept-link').click();
        },
        slideNextTransitionEnd() {
          console.log('transistion reject end')// reject request
          const selected = document.querySelector(".swiper-slide-active");
          const dogCard = document.querySelector(`[data-hash="${selected.dataset.hash}"]`);

          console.log('dogCard reject', dogCard)
          dogCard.querySelector('#reject-link').click();
          // .removeSlide(slideIndex);
          console.log(this.activeIndex)
          console.log('remove stuff', this.activeIndex - 1);
          removeStuff() // last slide is always 0
        }
      }
    });

    const removeStuff = () => {
      mySwiper.removeSlide(0);
    };
</script>



