<p>index</p>
<<<<<<< HEAD
<% @pets.each do |pet|%>
  <%= pet.name %>
  <%= link_to "show", pet_path(pet)%>
  <%= link_to "edit", edit_pet_path(pet)  %>
  <p><%= current_user.pet.compatibilty(pet) %></p>
<% end %>
<%= link_to "create", new_pet_path %>
=======
<%@pets.each do |pet|%>
  <p><%= pet.name %></p>
  <p><%= link_to "show", pet_path(pet)%></p>
  <p><%= link_to "edit", edit_pet_path(pet)  %></p>
  <% if current_user.requested_friends.include?(pet.user) %>
    <p><%= link_to "add", accept_path(pet.user)  %></p>
    <p><%= link_to "reject", reject_path(pet.user)  %></p>
  <% else %>
    <p><%= link_to "request", request_path(pet.user)  %></p>
  <% end %>
<% end %>



>>>>>>> 2f755a1eef98b77d4fb49020dc9d609c4e299663

