
<div class="swiper-container">
  <div class="swiper-wrapper">

<p>index</p>



<div class="cards-category-index">
  <%@pets.each do |pet|%>
    <div class="card-product">
      <div class="card-product-picture-info">
        <div class="card-product-picture w-100 d-flex justify-content-center">
          <%= cl_image_tag(pet.photo.key, width: 300, height: 300, crop: :fill) %>
        </div>
        <div class="card-product-value">
        <p><%= current_user.pet.compatibilty(pet) %>%</p>
      </div>
      </div>
      <div class="second-half">
      <div class="card-product-description">
        <div class="card-product-title">
          <p>Name:</p>
          <p>   <%= pet.name %>  </p>
        </div>
        <div class="card-product-title ">
          <p>Breed:</p>
          <p><%= pet.breed %>  </p>
        </div>
        <div class="card-product-title">
          <p>Age:</p>
          <p>  <%= pet.age %></p>
        </div>
      </div>
      <div class="card-product-type">
        <div class="card-product-personality">
          <p>Personality:</p>
          <p><%= pet.personality_list %></p>
        </div>
        <div class="card-product-personality">
          <p>Preferences:</p>
          <p><%= pet.preference_list %></p>
        </div>
      </div>

         <div class="card-product-div">
          <div class="card-product-des">
            <p>Description:</p>
          <p> <%= pet.description %>  </p>
          </div>
        </div>
        </div>
      <%#= link_to "show", pet_path(pet)%>
      <%#= link_to "edit", edit_pet_path(pet)  %>

      <% if current_user.requested_friends.include?(pet.user) %>
        <p><%= link_to "add", accept_path(pet.user)  %></p>
        <p><%= link_to "reject", reject_path(pet.user)  %></p>
      <% else %>
        <p><%= link_to "request", request_path(pet.user)  %></p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  var mySwiper = new Swiper('.swiper-container', {
    init: false,
    speed: 700,
    loop: true,
    spaceBetween: 100,
    autoHeight: true, //enable auto height
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init: function () {
        console.log('swiper initialized');
      },
      slideChange: () => {
        if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          console.log('swipe to the left');
          const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`);
          window.location.href = "<%= reject_path(@pet.user) %>";
        } else {
          console.log('swipe to the right');
          // document.getElementById('edit').click();
          window.location.href = "<%= accept_path(@pet.user) %>";
        }
        console.log('active index', mySwiper.activeIndex);
        console.log('prev index', mySwiper.previousIndex);
      }
    },
  });

  mySwiper.init();
  // var mySwiper2 = document.querySelector('.swiper-container').swiper


</script>
