
<div class="cards-category-index">
  <div class="swiper-container animated zoomIn faster">
    <div class="swiper-wrapper">

      <%@pets.each do |pet|%>
      <div class="swiper-slide">
        <div class="col-12 col-xs-12 col-sm-4 offset-sm-4">
        <div class="card-product">
          <div class="first-half">
          <div class="card-product-picture-info ">
            <%#= render pet %>
            <% if pet.photo.attached? %>
              <div class="card-product-picture w-100 d-flex justify-content-center ">
                <%= cl_image_tag(pet.photo.key, class: "picture-dog", width: 300, height: 300, crop: :fill) %>
            <% else %>
              <%#= cl_image_tag("my_pet", class: "picture-dog", width: 300, height: 300, crop: :fill) %>
            <% end %>
              <div class="card-product-value">
                <p><%= current_user.pet.compatibilty(pet) %>%</p>
              </div>
            </div>

          </div>
          </div>
          <div class="second-half">
            <div class="dog">
              <div class="dog-rating">
                <% if pet.rating.blank? %>
                <p><%= pet.rating %>  </p>
                <% else %>
                <p><% (pet.rating).times do %>
                  <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - pet.rating).times do %>
                  <i class="far fa-star"></i>
                  <% end %></p>
                  <%= pet.rating %>

              <%# @ratings do |rating| %>


              <% end %>
              </div>
              </div>
            <div class="card-product-description">

              <div class="card-product-title">
                <p>Name:</p>
                <p>   <%= pet.name %>  </p>
              </div>
              <div class="card-product-title ">
                <p>Breed:</p>
                <p><%= pet.breed %>  </p>
              </div>
              <div class="card-product-title">
                <p>Age:</p>
                <p>  <%= pet.age %></p>
              </div>
            </div>
            <div class="card-product-type">
              <div class="card-product-personality">
                <p>Personality:</p>
                <p><%= pet.personality_list %></p>
              </div>
              <div class="card-product-personality">
                <p>Preferences:</p>
                <p><%= pet.preference_list %></p>
              </div>
            </div>

            <div class="card-product-div">
              <div class="card-product-des">
                <p>Description:</p>
                <p> <%= pet.description %>  </p>
              </div>
            </div>
          </div>
          <%#= link_to "show", pet_path(pet)%>
          <%#= link_to "edit", edit_pet_path(pet)  <%><!-- </%> -->

<!--           <div class="btn-container">
            <%#= link_to "reject", { controller: "users", action: "friend_reject", id: pet.user.id }, class: "btn btn-primary reject-btn" %>
            <%#= link_to "add", accept_path(pet.user), id: "accept-link", class: "btn btn-primary accept-btn" %>
          </div> -->
        </div>
        </div>
      </div>
      <% end %>
      <div class="swiper-slide"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>


<script>

  var mySwiper = new Swiper('.swiper-container', {
    init: false,
    speed: 700,
    loop: true,
    spaceBetween: 0,
    autoHeight: true, //enable auto height
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init () {
        console.log('swiper initialized');
        // console.log(pet)

        const selected = document.querySelector(".swiper-slide");
        console.log(selected.dataset.id);
        const selected_slide = selected.dataset.id;
      },
      slideChange () {
        // const selected = document.querySelector(".swiper-slide-active");
        // // console.log(selected.dataset.id);
        // selected_slide = selected.dataset.id;

        if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          console.log('1. swipe to the left');
          console.log('2. test: reject_path(pet.user)');
          window.location.href = '<%= reject_path(@pets.first.user) %>';
          // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`);
          console.log('3. same behaviour as clicking reject button');
          // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`).
          // s.style.display = "none";
        } else {
          console.log('4. swipe to the right');
          window.location.href = '<%= accept_path(@pets.first.user) %>';
          console.log('5. test: accept_path(pet.user)');
          // document.getElementById('edit').click();
          console.log('6. same behaviour as clicking add button');
          // mySwiper.removeSlide(mySwiper.activeIndex);
        }
          // console.log('active index', mySwiper.activeIndex);
        // if (mySwiper.activeIndex === mySwiper.previousIndex) {
        //   console.log('this is the last card');
        // } else if ( mySwiper.previousIndex > mySwiper.activeIndex ) {
        //   console.log('4. swipe to the right');
        //   console.log('5. test: accept_path(pet.user)');
        //   console.log('active index', mySwiper.activeIndex);
        // } else {
        //   console.log('1. swipe to the left');
        //   console.log('2. test: reject_path(pet.user)');
        // }
        // if (mySwiper.activeIndex === 0) {
        //   console.log('cannot swipe to right');
        //   console.log(mySwiper.activeIndex);
        // } else if (mySwiper.activeIndex > mySwiper.previousIndex) {
        //   console.log('reject');
        // } else {
        //   console.log('accept');
        // }
        // console.log('active index', mySwiper.activeIndex);
        // console.log('prev index', mySwiper.previousIndex);
        // mySwiper.removeSlide(mySwiper.activeIndex);
        // mySwiper.removeSlide(mySwiper.activeIndex);
      }
    },
  });

  mySwiper.init();
  // var mySwiper2 = document.querySelector('.swiper-container').swiper


</script>
