<div class="cards-category-index">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <%@pets.each do |pet|%>
      <div class="swiper-slide" >
        <div class="col-12 col-xs-12 col-sm-4 offset-sm-4">
        <div class="card-product">
          <div class="first-half">
          <div class="card-product-picture-info ">
            <div class="card-product-picture w-100 d-flex justify-content-center ">
              <%= cl_image_tag(pet.photo.key, class: "picture-dog", width: 300, height: 300, crop: :fill) %>
              <div class="card-product-value">
                <p><%= current_user.pet.compatibilty(pet) %>%</p>
              </div>
            </div>

          </div>
          </div>
          <div class="second-half">
            <div class="dog">
              <div class="dog-rating">
                <% if pet.rating.blank? %>
                <p><%= pet.rating %>  </p>
                <% else %>
                <p><% (pet.rating).times do %>
                  <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - pet.rating).times do %>
                  <i class="far fa-star"></i>
                  <% end %></p>
                  <%= pet.rating %>

              <%# @ratings do |rating| %>


              <% end %>
              </div>
              </div>
            <div class="card-product-description">

              <div class="card-product-title">
                <p>Name:</p>
                <p>   <%= pet.name %>  </p>
              </div>
              <div class="card-product-title ">
                <p>Breed:</p>
                <p><%= pet.breed %>  </p>
              </div>
              <div class="card-product-title">
                <p>Age:</p>
                <p>  <%= pet.age %></p>
              </div>
            </div>
            <div class="card-product-type">
              <div class="card-product-personality">
                <p>Personality:</p>
                <p><%= pet.personality_list %></p>
              </div>
              <div class="card-product-personality">
                <p>Preferences:</p>
                <p><%= pet.preference_list %></p>
              </div>
            </div>

            <div class="card-product-div">
              <div class="card-product-des">
                <p>Description:</p>
                <p> <%= pet.description %>  </p>
              </div>
            </div>
          </div>
          <%#= link_to "show", pet_path(pet)%>
          <%#= link_to "edit", edit_pet_path(pet)  <%><!-- </%> -->
          <p><%= link_to "add", accept_path(pet.user), remote: true, id: "accept-link"  %></p>
          <p><%= link_to "reject", reject_path(pet.user), remote: true, id: "accept-link"  %></p>
        </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>


<script>
  var mySwiper = new Swiper('.swiper-container', {
    init: false,
    speed: 700,
    loop: true,
    spaceBetween: 100,
    autoHeight: true, //enable auto height
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init: function () {
        console.log('swiper initialized');
      },
      slideChange: () => {
        if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          console.log('swipe to the left');
          console.log('test: reject_path(pet.user)');
          const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`);
          console.log(s);
          // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`).
          // s.style.display = "none";
        } else {
          console.log('swipe to the right');
          console.log('test: accept_path(pet.user)');
          // document.getElementById('edit').click();
        }
        console.log('active index', mySwiper.activeIndex);
        console.log('prev index', mySwiper.previousIndex);
      }
    },
  });

  mySwiper.init();
  // var mySwiper2 = document.querySelector('.swiper-container').swiper


</script>
