<div class="cards-category-index">
  <div class="swiper-container animated zoomIn faster">
    <div class="swiper-wrapper">
      <%@pets.each do |pet|%>
        <div class="swiper-slide" >
          <!-- <div class="col-12 col-xs-12 col-sm-4 offset-sm-4"> -->
          <!-- <div class="card-product"> -->
          <!-- <div class="first-half"> -->
          <!-- <div class="card-product-picture-info "> -->
          <div class="card-product-picture">
            <% if pet.photo.attached? %>
              <%= cl_image_tag(pet.photo.key, class: "picture-dog", width: 300, height: 300, crop: :fill) %>
            <% else %>
              <%#= cl_image_tag("my_pet", class: "picture-dog", width: 300, height: 300, crop: :fill) %>
            <% end %>
            <div class="card-product-value">
              <p><%= current_user.pet.compatibilty(pet) %>%</p>
            </div>
            <div class="card-product-picture-info-name">
              <p> <%= pet.name %> </p>
            </div>
            <div class="dog-rating">
              <% if pet.rating.blank? %>
                <p><%= pet.rating %>  </p>
              <% else %>
                <p><% (pet.rating).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - pet.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %></p>
              <% end %>
            </div>
            <!-- <div class="button-expand btn btn-primary" style="position: absolute; bottom: 10px; right: 10px;">Expand</div> -->
            <%= link_to "#", class: "button-expand", id: "button-index-expand" do %>
              <i class="fas fa-info-circle"></i>
            <% end %>
          </div>
          <div class="card-information-dog">
            <div class="card-information-dog-persnpref">
              <div class="card-information-dog-namenbreed">
                <p><strong><%= pet.breed %></strong></p>
                <p><strong><%= pet.age %></strong>
                  <% if pet.gender == "male" %>
                    <i class="fas fa-mars"></i>
                  <% else %>
                    <i class="fas fa-venus"></i>
                  <% end %>
                </p>
              </div>
              <div class="card-information-dog-personalities">
                <p><strong>Personality</strong></p>
                <p><%= pet.personality_list %></p>
              </div>
              <div class="card-information-dog-preferences">
                <p><strong>Preferences</strong></p>
                <p><%= pet.preference_list %></p>
              </div>
            </div>
            <div class="card-information-dog-description">
              <p><strong>Description</strong></p>
              <p> <%= pet.description %>  </p>
            </div>
            <div class="show-all-reviews">
              <p><strong>Show all reviews</strong></p>
              <p>Owner Name:</p>
              <p>
                <%= current_user.first_name %>
                <%= current_user.last_name %>
              </p>
              <% if pet.ratings.any? %>
              <div class="first-reviews">
              <% pet.ratings.first(5).each do |rating| %>
                <p>Ratings:</p>
                  <p><% (pet.rating).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - pet.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                  </p>
                  <p>Comments:</p>
                  <p><%= rating.comments %></p>
                <% end %>
                </div>
                <div class="show-all-button button-chat">
                  Show all reviews
                </div>
                <div class="remaining-reviews hidden">
                  <% pet.ratings.last(pet.ratings.count-5).each do |rating| %>
                <p>Ratings:</p>
                  <p><% (pet.rating).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - pet.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                  </p>
                  <p>Comments:</p>
                  <p><%= rating.comments %></p>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
      <div class="swiper-slide"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>


<script>

  var mySwiper = new Swiper('.swiper-container', {
    init: false,
    speed: 700,
    loop: true,
    spaceBetween: 0,
    autoHeight: true, //enable auto height
    // pagination: {
    //   el: '.swiper-pagination',
    //   clickable: true,
    // },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init () {
        console.log('swiper initialized');
        // console.log(pet)

        const selected = document.querySelector(".swiper-slide");
        console.log(selected.dataset.id);
        const selected_slide = selected.dataset.id;
      },
      slideChange () {
        // const selected = document.querySelector(".swiper-slide-active");
        // // console.log(selected.dataset.id);
        // selected_slide = selected.dataset.id;

        if ( mySwiper.activeIndex > mySwiper.previousIndex ) {
          console.log('1. swipe to the left');
          console.log('2. test: reject_path(pet.user)');
          window.location.href = '<%= reject_path(@pets.first.user) %>';
          // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`);
          console.log('3. same behaviour as clicking reject button');
          // const s = document.querySelector(`[data-swiper-slide-index='${mySwiper.activeIndex}']`).
          // s.style.display = "none";
        } else {
          console.log('4. swipe to the right');
          window.location.href = '<%= accept_path(@pets.first.user) %>';
          console.log('5. test: accept_path(pet.user)');
          // document.getElementById('edit').click();
          console.log('6. same behaviour as clicking add button');
          // mySwiper.removeSlide(mySwiper.activeIndex);
        }
      }
    },
  });

  mySwiper.init();
  // var mySwiper2 = document.querySelector('.swiper-container').swiper
    // var mySwiper2 = document.querySelector('.swiper-container').swiper
  document.querySelectorAll(".button-expand").forEach(button => {
  button.addEventListener("click", (event) => {
  document.querySelector("body").classList.toggle("expanded")
  });
  })

  document.querySelector('.show-all-button').addEventListener('click', () => {
 document.querySelector('.remaining-reviews').classList.remove('hidden')
})

    document.querySelector('.show-all-button').addEventListener('click', () => {
 document.querySelector('.show-all-button').classList.remove('button-chat')
})
</script>
